Jinja2>=3.0
numpy==1.22.3
gunicorn==20.1.0
Flask==2.1.0
scikit-learn==1.0.2
scipy==1.8.0
pandas>=0.19
# textblob==0.15.3
nltk>=3.4.5
pickleshare==0.7.5
# cloudpickle==1.2.2
# itsdangerous==1.1.0
MarkupSafe==2.0.1
# Werkzeug==0.15.5
cython>=0.29.15
